table, th, td {
  border: 1px solid lightgray;
  border-collapse: collapse;
  height: 40px;
  text-align: center;
}

table {
  width: 50%;
  font-family: "微软雅黑";
  font-size: 18px;
}

th {
  background: lightgray;
}

td {
  min-width: 40px
}